{% extends 'todoApp/navbar.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
    <title>Deletion</title>
</head>
<body>
    {%block content%}
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3 style="text-align: center; margin-bottom: 10px;">Password Reset Sent</h3>
        <h4 style="text-align: center; margin-bottom: 10px; color: #5cb85c;">We've emailed you instructions for setting a new password</h4>
    </div>
    {%endblock%}

</body>
</html>